<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LESSGOOOO</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
</head>

<body>

    <div class="whole-document">
        <h1>Audio Prescription</h1>
        <div class="form">
            <label class="name-field">Name</label>
            <input type="text" id="name">

            <label class="id-field">Email id</label>
            <input type="email" id="emailID">

            <br><br><br>
            <button type="button" id="record">Record</button>
            <button type="button" id="stopRecord" disabled>Stop</button>

            <audio id="recordedAudio"></audio>


            <script src="{{ url_for('static', filename='src/ui.js') }}"></script>
            <hr><br><br>
            <button onclick="insertIntoDB()" id="submit">Submit</button>

        </div>
    </div>

</body>

</html>